server {
  listen 443 ssl;
  server_name {{ domain_name }};
  root /usr/share/nginx/html;
  
  include /etc/nginx/default.d/*.conf;
  
  ssl_certificate /etc/pki/nginx/{{ domain_name }}/cert.pem;
  ssl_certificate_key /etc/pki/nginx/{{ domain_name }}/key.pem;
}
