<?php
$servername = "localhost";
$username = "{{ mariadb_username }}";
$password = "{{ mariadb_pwd }}";

// Create connection
$conn = new mysqli($servername, $username, $password);
// Check connection
if ($conn->connect_error) {
  die("Connection failed: " . $conn->connect_error);
}

// Create database
$sql = "CREATE DATABASE testDB";
if ($conn->query($sql) === TRUE) {
  echo "Database testDB created successfully<br>";
} else {
  echo "Error creating database: " . $conn->error . "<br>";
}

// sql to create table
$sql = "CREATE TABLE testDB.todo_list (
    item_id INT AUTO_INCREMENT,
    content VARCHAR(255),
    PRIMARY KEY(item_id)
)";

if ($conn->query($sql) === TRUE) {
  echo "Table todo_list created successfully<br>";
} else {
  echo "Error creating table: " . $conn->error . "<br>";
}

// sql to insert data
$sql = "INSERT INTO testDB.todo_list (content) VALUES ('My first important item')";

if ($conn->query($sql) === TRUE) {
  echo "New record created successfully<br>";
} else {
  echo "Error: " . $sql . "<br>" . $conn->error . "<br>";
}

// sql to insert data
$sql = "INSERT INTO testDB.todo_list (content) VALUES ('My second important item')";

if ($conn->query($sql) === TRUE) {
  echo "New record created successfully<br>";
} else {
  echo "Error: " . $sql . "<br>" . $conn->error . "<br>";
}

$conn->close();
?>

